@import (reference) "variables";

:host {
  display: block;
  position: relative;
  .card();
  padding: 3px 14px;
}

.stat-icon {
  position: absolute;
  top: -18px;
  left: 16px;
  width: 64px;
  height: 64px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;

  .material-icons {
    font-size: @xxl;
    color: @white;
  }
}

.stat-body {
  padding: 9px 0;
  text-align: right;
}

.stat-label {
  .font(@base, @light);
}

.stat-value {
  .font(@xxl, @bold, @text-primary);
}

.stat-delimeter {
  height: 1px;
  background: @background;
  margin: 0 -14px;
}

.stat-footer {
  padding: 18px 0 16px;
  .font(@md, @light);
}

.stat-change {
  font: @bold;

  &.positive { color: @green; }
  &.negative { color: @red-orange; }
}
