@import (reference) "variables";

:host {
  padding: 0 16px 16px;
  background: var(--color-white);
  border-radius: var(--card-radius);
  box-shadow: var(--drop-shadow-black);
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.weather {
  background: var(--gradient-red);
  border-radius: var(--card-radius);
  box-shadow: var(--drop-shadow-red);
  padding: 16px 24px;
  margin-top: -24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.today-label {
  font-size: @font-size-base;
  color: var(--color-dark-snow);
}

.city-temp {
  font-size: @font-size-lg;
  font-weight: @font-weight-bold;
  color: var(--color-white);
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-icon {
  width: 69px;
  height: 51px;
  object-fit: contain;
}

.condition {
  font-size: @font-size-lg;
  font-weight: @font-weight-bold;
  color: var(--color-white);
  margin-top: -2px;
}

.chart-wrapper {
  flex: 1;
  min-height: 0;
  position: relative;

  app-chart {
    height: 100%;
  }
}
