@import (reference) "variables";

:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 42px 0 28px;
  .caption();
}

.heart {
  .font(@color: @red);
}

.footer-links {
  display: flex;
  gap: 31px;
}
