@import (reference) "variables";

:host {
  display: flex;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  margin-left: calc(var(--sidebar-width) + 16px);
  padding: 16px 24px 24px;
  display: flex;
  flex-direction: column;
  min-width: 0;
  transition: margin-left @transition;

  &.sidebar-hidden {
    margin-left: 0;
  }
}

.page-content {
  flex: 1;
  margin-top: 24px;
}
