@import (reference) "variables";

:host {
  display: block;
  margin-top: 54px;
}

.projects-header {
  margin-bottom: 16px;
}

.section-title {
  .font(@md, @bold, @text-primary);
}

.section-subtitle {
  .caption();
  margin-top: 6px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5%;
}
