<div class="header">
  <h6 class="section-title">Profile Information</h6>
  <span class="material-icons edit-icon">edit</span>
</div>

<p class="bio">Hi, I'm Alec Thompson, Decisions: If you can't decide, the answer is no. If two equally difficult paths, choose the one more painful in the short term (pain avoidance is creating an illusion of equality).</p>

<hr class="divider" />

@for (row of infoRows; track row.label) {
  <div class="info-row">
    <span class="info-label">{{ row.label }}</span>
    <span class="info-value">{{ row.value }}</span>
  </div>
}

<div class="info-row">
  <span class="info-label">Social:</span>
  <div class="social-icons">
    <img src="assets/images/twitter.svg" alt="Twitter" />
    <img src="assets/images/facebook.svg" alt="Facebook" />
    <img src="assets/images/instagram.svg" alt="Instagram" />
  </div>
</div>
