@import (reference) "variables";

:host {
  display: block;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 19px;
}

.section-title {
  .font(@md, @bold, @text-primary);
}

.edit-icon {
  font-size: @xxl;
  color: @text-primary;
  cursor: pointer;
}

.bio {
  .caption();
  margin-bottom: 16px;
}

.divider {
  border: none;
  height: 1px;
  background: @cloud;
  margin-top: 23px;
  margin-bottom: 26px;
}

.info-row {
  display: flex;
  align-items: center;
  gap: 10px;

  & + & {
    margin-top: 16px;
  }
}

.info-label {
  .label();
}

.info-value {
  .caption();
}

.social-icons {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-left: 5px;

  img {
    width: 18px;
    height: 18px;
  }
}
