@import (reference) "variables";

:host {
  display: block;
  background: var(--gradient-black);
  background-image: url('/assets/images/mask.png'), var(--gradient-black);
  background-size: cover, cover;
  background-position: center, center;
  border-radius: var(--card-radius);
  box-shadow: var(--drop-shadow-black);
  padding: 24px 16px 18px;
  width: 410px;
  flex-shrink: 0;
}

.card-top {
  margin-bottom: 30px;
}

.wifi-icon {
  font-size: @xxl;
}

.card-number {
  .font(@lg, @bold, @white);
  margin-bottom: 56px;
}

.card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.card-bottom-left {
  display: flex;
  gap: 24px;
}

.card-field {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.card-label {
  .font(@base, @light, @white);
  opacity: 0.5;
}

.card-value {
  .font(@md, @bold, @white);
}

.mastercard-logo {
  display: flex;
}

.mc-circle {
  width: 26px;
  height: 26px;
  border-radius: 50%;

  &.mc-left {
    background: @red;
    margin-right: -11px;
  }

  &.mc-right {
    background: @orange;
  }
}
