<div class="card-top">
  <span class="material-icons wifi-icon">wifi</span>
</div>
<div class="card-number">4562&nbsp;&nbsp;1122&nbsp;&nbsp;4594&nbsp;&nbsp;7852</div>
<div class="card-bottom">
  <div class="card-bottom-left">
    <div class="card-field">
      <span class="card-label">Card Holder</span>
      <span class="card-value">Jack Peterson</span>
    </div>
    <div class="card-field">
      <span class="card-label">Expires</span>
      <span class="card-value">11/22</span>
    </div>
  </div>
  <div class="mastercard-logo">
    <div class="mc-circle mc-left"></div>
    <div class="mc-circle mc-right"></div>
  </div>
</div>
