<div class="widget-card">
  <div class="widget-icon" >
    <span class="material-icons">account_balance_wallet</span>
  </div>
  <div class="widget-body">
    <p class="widget-title">Salary</p>
    <p class="widget-subtitle">Belong Interactive</p>
    <div class="widget-delimeter"></div>
    <p class="widget-amount">+$2000</p>
  </div>
</div>
<div class="widget-card">
  <div class="widget-icon" >
    <span class="material-icons">payment</span>
  </div>
  <div class="widget-body">
    <p class="widget-title">PayPal</p>
    <p class="widget-subtitle">Freelance Payment</p>
    <div class="widget-delimeter"></div>
    <p class="widget-amount">$455</p>
  </div>
</div>
