@import (reference) "variables";

:host {
  display: flex;
  gap: 24px;
  flex: 1;
}

.widget-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  .card();
  padding: 16px;
  flex: 1;
  text-align: center;
}

.widget-icon {
  width: 64px;
  height: 64px;
  border-radius: var(--card-min-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  background: var(--gradient-red);

  .material-icons {
    font-size: @xxl;
    color: @white;
  }
}

.widget-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.widget-title {
  .font(@md, @bold, @text-primary);
}

.widget-subtitle {
  .font(@sm);
}

.widget-delimeter {
  width: 100%;
  height: 1px;
  background: @background;
  margin: 13px 0 8px;
}

.widget-amount {
  .font(@lg, @bold, @text-primary);
}
