:host {
  display: block;
}

.hero-wrapper {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 24px;
  margin-bottom: 24px;

  align-items: start;

  > * {
    min-width: 0;
    margin-top: 50px;
  }
}


