@import (reference) "variables";

:host {
  padding: 0 16px 16px;
  .card();
  display: block;
}

.feed-wrapper {
  position: relative;
  aspect-ratio: 710 / 406;
  margin-top: -24px;
  margin-bottom: 24px;
}

.feed {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.timestamp {
  position: absolute;
  top: 18px;
  left: 17px;
  .font(@md, @normal, @white);
}

.recording {
  position: absolute;
  top: 17px;
  right: 16px;
  display: flex;
  align-items: center;
  gap: 5px;
  .font(@sm, @bold, @dark-mud);
  background: @snow;
  padding: 4px 10px;
  border-radius: var(--card-min-radius);
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: transparent;
  border: 4px solid @red-orange;
}

.card-footer {
  display: flex;
  align-items: center;
  gap: 18px;
}

.cameras-label {
  .font(@md, @bold, @text-primary);
  flex-shrink: 0;
}

.footer-tabs {
  flex: auto;
  text-align: right;
}

.more-btn {
  background: none;
  border: none;
  cursor: pointer;
  .font(@color: @text);
  display: flex;
  align-items: center;
  padding: 0;

  .material-icons {
    font-size: @icon;
  }
}
