@import (reference) "variables";

:host {
  display: block;
  .card();
  height: 100%;
  padding: 25px;
}

.section-header {
  margin-bottom: 25px;
}

.btn-view-all {
  padding: 8px 16px;
  border: 1px solid @red;
  border-radius: var(--card-min-radius);
  .font(@sm, @bold, @red);
  text-transform: uppercase;
}

.invoices-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.invoice-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.invoice-info {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.invoice-date {
  .label();
}

.invoice-number {
  .font(@sm);
}

.invoice-right {
  display: flex;
  align-items: center;
  gap: 24px;
}

.invoice-amount {
  .caption();
}

.btn-pdf {
  display: flex;
  align-items: center;
  gap: 10px;
  .label();

  .pdf-icon {
    width: 16px;
    height: 16px;
  }
}
