<h6 class="section-title">Platform Settings</h6>

<div class="settings-group">
  <p class="group-label">ACCOUNT</p>
  @for (setting of accountSettings; track setting.label) {
    <div class="setting-row">
      <app-toggle [checked]="setting.enabled" />
      <span class="setting-label">{{ setting.label }}</span>
    </div>
  }
</div>

<div class="settings-group">
  <p class="group-label">APPLICATION</p>
  @for (setting of applicationSettings; track setting.label) {
    <div class="setting-row">
      <app-toggle [checked]="setting.enabled" />
      <span class="setting-label">{{ setting.label }}</span>
    </div>
  }
</div>
