@import (reference) "variables";

:host {
  display: block;
}

.section-title {
  margin-bottom: 16px;
}

.settings-group {
  & + & {
    margin-top: 42px;
  }
}

.group-label {
  .font(@sm, @bold);
  margin-bottom: 16px;
}

.setting-row {
  display: flex;
  align-items: center;
  gap: 17px;

  & + & {
    margin-top: 28px;
  }
}

.setting-label {
  .caption();
}

