@import (reference) "variables";

:host {
  display: block;
  .card();
  padding: 16px;
}

.section-header {
  margin-bottom: 16px;
}

.btn-add {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 163px;
  height: 42px;
  padding: 4px;
  background: var(--gradient-black);
  box-shadow: var(--drop-shadow-black);
  border-radius: var(--card-min-radius);
  .font(@sm, @bold, @white);
  text-transform: uppercase;

  .material-icons {
    font-size: @md;
  }
}

.cards-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.card-row {
  height: 76px;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 12px 24px;
  border: 1px solid @grey;
  border-radius: var(--card-min-radius);
}

.card-brand {
  width: 48px;
  flex-shrink: 0;
}

.card-number {
  flex: 1;
  .font(@md, @bold, @text-primary);
  padding-top: 2px;
}

.btn-edit {
  .font(@color: @text-primary);

  .material-icons {
    font-size: @md;
  }
}
