<div class="section-header">
  <h6 class="section-title">Payment Method</h6>
  <button class="btn-add">
    <span class="material-icons">add</span>
    Add New Card
  </button>
</div>
<div class="cards-list">
  @for (card of cards(); track card.last4) {
    <div class="card-row">
      <div class="card-brand">
        <img [src]="'/assets/images/' + card.brand + '.png'" [alt]="card.brand">
      </div>
      <span class="card-number">****&nbsp;&nbsp;****&nbsp;&nbsp;****&nbsp;&nbsp;{{ card.last4 }}</span>
      <button class="btn-edit">
        <span class="material-icons">edit</span>
      </button>
    </div>
  }
</div>
