@import (reference) "variables";

:host {
  height: 100%;
  display: block;
  .card();
  padding: 26px 16px 22px;
}

.section-title {
  margin-bottom: 26px;
}

.contacts-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.contact-card {
  position: relative;
  padding: 24px;
  background: @cloud;
  border-radius: var(--card-min-radius);
}

.contact-header {
  .label();
  margin-bottom: 15px;
}

.contact-details {
  display: flex;
  flex-direction: column;
  gap: 6px;

  p {
    .font(@sm, @bold, @text-primary);
  }
}

.detail-label {
  .font(@sm);
}

.contact-actions {
  position: absolute;
  right: 40px;
  top: 35px;
  display: flex;
  gap: 34px;

  > button {
    display: flex;
    align-items: center;
    gap: 7px;
    .font(@sm, @bold);
    text-transform: uppercase;

    .material-icons {
      font-size: @base;
    }
  }
}

.btn-delete {
  color: @red-orange;
}

.btn-edit {
  color: @text-primary;
}
