@import (reference) "variables";

:host {
  display: block;
  .card();
  padding: 20px 20px 24px;
  text-align: center;
}

.value {
  .font(@4xl, @bold, @red);
  margin-bottom: 7px;
}

.unit {
  .font(@icon, @bold, @red);
  vertical-align: baseline;
}

.label {
  .font(@md, @bold, @text-primary);
  margin-bottom: 2px;
}

.sublabel {
  .caption();
}
