@import (reference) "variables";

:host {
  display: block;
}

.card {
  background: var(--color-white);
  border-radius: var(--card-radius);
  box-shadow: var(--drop-shadow-grey);
  padding: 16px 20px 20px;
}

.value {
  font-size: @font-size-xxl;
  font-weight: @font-weight-bold;
  margin-bottom: 4px;

  &.red { color: var(--color-red); }
  &.blue { color: var(--color-blue); }
}

.unit {
  font-size: @font-size-sm;
  font-weight: @font-weight-normal;
  vertical-align: super;
}

.label {
  font-size: @font-size-base;
  color: var(--color-text-primary);
  margin-bottom: 2px;
}

.sublabel {
  font-size: @font-size-sm;
  color: var(--color-text-secondary);
}
