:host {
  display: block;
}

.top-row {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 24px;
  margin-bottom: 24px;

  > * {
    min-width: 0;
  }
}

.camera-col {
  display: block;
  height: 100%;
}


.stat-row {
  margin-bottom: 24px;
}

.charts-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  margin-bottom: 24px;

  > * {
    min-width: 0;
  }
}

.devices-row {
  margin-top: 97px;
}
