@import (reference) "variables";

:host {
  display: block;
}

.profile-header {
  position: relative;
  height: 300px;
  border-radius: var(--card-radius);
  overflow: hidden;
  box-shadow: var(--drop-shadow-grey);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.profile-card {
  position: relative;
  .card(@shadow: var(--drop-shadow-grey));
  margin-top: -64px;
  margin-left: 24px;
  margin-right: 24px;
  min-height: 80px;
  padding: 16px 16px 36px;
}

.info-row {
  display: grid;
  grid-template-columns: 1fr 1px 1fr 1px 1fr;
  column-gap: 25px;
  margin-top: 50px;
  margin-left: 16px;
  margin-right: 16px;
}

app-projects {
  margin-left: 16px;
  margin-right: 16px;
}

.col-divider {
  background: @cloud;
}

.profile-row {
  display: flex;
  align-items: center;
  gap: 24px;
}

.profile-avatar {
  width: 74px;
  height: 76px;
  border-radius: var(--card-min-radius);
  object-fit: cover;
  flex-shrink: 0;
  box-shadow: var(--drop-shadow-grey);
}

.profile-identity {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.profile-name {
  .font(@lg, @bold, @text-primary);
}

.profile-role {
  .font(@color: @text-primary);
}

app-tabs {
  margin-left: auto;
}

.profile-header-timestamp {
  position: absolute;
  top: 18px;
  left: 33px;
  .font(@color: @white);
}
