<div class="car-image-wrap">
  <img class="car-image" src="assets/images/car.png" alt="Electric Car" />
</div>
<div class="info-row">
  <div class="info-block">
    <span class="block-title">{{ sinceLastCharge.title }}</span>
    <div class="block-divider"></div>
    <div class="block-cols">
      @for (col of sinceLastCharge.cols; track col.label) {
        <div class="block-col">
          <span class="col-label">{{ col.label }}</span>
          <p class="col-value">
            <span class="col-number">{{ col.value }}</span>
            <span class="col-unit">{{ col.unit }}</span>
          </p>
        </div>
      }
    </div>
  </div>
  <div class="info-block">
    <span class="block-title">{{ nearestCharger.title }}</span>
    <div class="block-divider"></div>
    <div class="block-cols">
      <div class="block-col">
        <span class="location-name">{{ nearestCharger.locationName }}</span>
        <span class="location-address">{{ nearestCharger.locationAddress }}</span>
      </div>
      <div class="nav-col">
        <button class="nav-btn">
          <span class="material-icons">map</span>
        </button>
      </div>
    </div>
  </div>
</div>
