:host {
  display: block;
}

.card {
  background: var(--color-white);
  border-radius: var(--card-radius);
  box-shadow: var(--drop-shadow-grey);
  padding: 16px;
}

.chart-wrapper {
  height: 120px;
  position: relative;
}
