@import (reference) "variables";

app-tabs {
  display: block;
  margin-bottom: 32px;
}

.top-section {
  display: grid;
  grid-template-columns: 1fr 32%;
  gap: 24px;
  align-items: stretch;
  margin-bottom: 24px;
}

.top-left {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.bottom-row {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 24px;
  align-items: stretch;
}

.card-widgets {
  display: flex;
  gap: 24px;
  align-items: stretch;
}
