@import (reference) "variables";

:host {
  display: block;
  .card();
}

.card-title {
  padding: 28px 24px 0;
  margin-bottom: 10px;
  .font(@md, @bold, @text-primary);
}

.table-wrap {
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;

  th {
    text-align: left;
    .font(@size: @xs, @weight: @bold);
    text-transform: uppercase;
    padding: 12px 24px 14px;
    border-bottom: 1px solid @background;
  }

  td {
    height: 74px;
    padding: 12px 24px;
    .font(@color: @text-primary);
    vertical-align: middle;
    border-bottom: 1px solid @background;
  }

  tr:last-child td {
    border-bottom: none;
  }
}

.product-cell {
  display: flex;
  align-items: center;
  gap: 16px;
}

.product-avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.product-name {
  .label();
}

.product-orders {
  .caption();

  mark {
    background: unset;
    color: @green;
  }
}

.refund-cell {
  max-width: 40px;
  text-align: right;
}

.refund-icon {
  font-size: @md;
  vertical-align: top;

  &.up {
    color: @red-orange;
  }

  &.down {
    color: @green;
  }
}
